.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: linear-gradient(
      rgba(0,0,0,0.55),
      rgba(0,0,0,0.35)
    ),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  background-position: center;

  color: rgb(255, 255, 255);
  padding: 20px;
}

.hero h1 {
  font-size: 52px;
  margin-bottom: 15px;
}

.hero p {
  color: rgb(199, 197, 197);
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 25px;
}

.hero-btn {
  background: #ffb703;
  color: #000;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
}

.hero-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 14px;
  }
}