body {
  background: #f6f7fb;
  font-family: "Poppins", sans-serif;
  color: #222;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

section {
  padding: 90px 20px;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  color: #666;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}